<div class="page-header">
  <h1>我的收藏夹</h1>
</div>
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">收藏夹中的商品</div>

  <!-- Table -->
  <table class="table table-striped">
    <thead>
    <tr>
      <th>序号</th>
      <th>名称</th>
      <th>单价</th>
    </tr>
    </thead>

    <tbody>
    <% i = 1 %>
    <% current_user.carts.each do |item| %>
      <tr>
        <td><%= i %></td>
        <td><%= link_to item.product.name, pd_path( item.product ) %> </td>
        <td><%= item.product.price %></td>
      </tr>
      <% i = i + 1 %>
    <% end %>
    </tbody>
  </table>
</div>
